.btn-slide{
  min-width: 8em;
  min-height: 100%;
}

i.fontawesome-write-mode{
  margin-right: 6%;
}

.item-icon:before {
  color: #c2ac70;
  //position: relative;
  text-align: right;
  float: right;
}

h1{
  font-size: 23px;
}
